{% load static %}
<div class="main-content">

    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Dashboard</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--end breadcrumb-->


    <div class="row">
        <div class="col-12 col-lg-6 col-xxl-6 d-flex">
            <div class="card w-100 rounded-4">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between mb-3">
                        <div class="">
                            <h5 class="mb-0">Sales & Views</h5>
                        </div>
                    </div>
                    <!-- <div id="chart5"></div> -->
                    <div
                        class="d-flex flex-column flex-lg-row align-items-start justify-content-around border p-3 rounded-4 mt-3 gap-3">
                        <div class="d-flex align-items-center gap-4">
                            <div class="">
                                <p class="mb-0 data-attributes">
                                    <span
                                        data-peity='{ "fill": ["#2196f3", "rgb(255 255 255 / 12%)"], "innerRadius": 32, "radius": 40 }'>{{ today_order_count }}/{{ total_orders }}</span>
                                </p>
                            </div>
                            <div class="">
                                <p class="mb-1 fs-6 fw-bold">Today</p>
                                <h2 class="mb-0">{{ today_order_count }}</h2>
                                <!-- <p class="mb-0"><span class="text-success me-2 fw-medium">16.5%</span><span>55.21 USD</span></p> -->
                            </div>
                        </div>
                        <div class="vr"></div>
                        <div class="d-flex align-items-center gap-4">
                            <div class="">
                                <p class="mb-0 data-attributes">
                                    <span data-peity='{ "fill": ["#ffd200", "rgb(255 255 255 / 12%)"], "innerRadius": 32, "radius": 40 }'>{{ new_orders_count }}/{{ total_orders }}</span>
                                </p>
                            </div>
                            <div class="">
                                <p class="mb-1 fs-6 fw-bold">New Orders</p>
                                <h2 class="mb-0">{{ new_orders_count }}</h2>
                                <!-- <p class="mb-0"><span class="text-success me-2 fw-medium">24.9%</span><span>267.35 USD</span></p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xxl-2 d-flex">
            <div class="card rounded-4 w-100">
                <div class="card-body">
                    <div class="mb-3 d-flex align-items-center justify-content-between">
                        <div class="wh-42 d-flex align-items-center justify-content-center rounded-circle bg-primary bg-opacity-10 text-primary">
                            <span class="material-icons-outlined fs-5">shopping_cart</span>
                        </div>
                        <div>
                            <span class="text-success d-flex align-items-center">+24%<i
                                    class="material-icons-outlined">expand_less</i></span>
                        </div>
                    </div>
                    <div>
                        <h4 class="mb-0">{{ total_orders }}</h4>
                        <p class="mb-3">Total Orders</p>
                        <div id="chart1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xxl-2 d-flex">
            <div class="card rounded-4 w-100">
                <div class="card-body">
                    <div class="mb-3 d-flex align-items-center justify-content-between">
                        <div
                            class="wh-42 d-flex align-items-center justify-content-center rounded-circle bg-success bg-opacity-10 text-success">
                            <span class="material-icons-outlined fs-5">attach_money</span>
                        </div>
                        <div>
                            <span class="text-success d-flex align-items-center">+14%<i
                                    class="material-icons-outlined">expand_less</i></span>
                        </div>
                    </div>
                    <div>
                        <h4 class="mb-0">৳{{ total_order_amount }}</h4>
                        <p class="mb-3">Total Sales</p>
                        <div id="chart2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xxl-2 d-flex">
            <div class="card rounded-4 w-100">
                <div class="card-body">
                    <div class="mb-3 d-flex align-items-center justify-content-between">
                        <div
                            class="wh-42 d-flex align-items-center justify-content-center rounded-circle bg-info bg-opacity-10 text-info">
                            <span class="material-icons-outlined fs-5">visibility</span>
                        </div>
                        <div>
                            <span class="text-danger d-flex align-items-center">-35%<i
                                    class="material-icons-outlined">expand_less</i></span>
                        </div>
                    </div>
                    <div>
                        <h4 class="mb-0">189K</h4>
                        <p class="mb-3">Total Visits</p>
                        <div id="chart3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->

    <div class="card mt-4">
        <div class="card-body">
            <div class="customer-table">
                <div class="table-responsive white-space-nowrap">
                    <table class="table align-middle">
                        <thead class="table-light">
                            <tr>
                                <th><input class="form-check-input" type="checkbox"></th>
                                <th>Order Id</th>
                                <th>Customer</th>
                                <th>Phone</th>
                                <th>Price</th>
                                <th>Status</th>
                                <th>Delivery Type</th>
                                <th>Delivery Date</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td><input class="form-check-input" type="checkbox"></td>

                                <td>
                                    <a href="{% url 'order_detail' order.id %}"
                                       hx-get="{% url 'order_detail' order.id %}"
                                       hx-target="#content-area"
                                       hx-push-url="true"
                                       hx-trigger="click, refreshReturnOrderDetailView from:body"
                                       hx-swap="innerHTML">
                                        #{{ order.order_id  }}
                                    </a>
                                </td>
                                
                                <td>
                                    <a class="d-flex align-items-center gap-3" href="javascript:;">
                                        <div class="customer-pic">
                                            <img src="https://placehold.co/110x110/png" class="rounded-circle" width="40" height="40">
                                        </div>
                                        <p class="mb-0 customer-name fw-bold">
                                            {{ order.customer.name }}
                                        </p>
                                    </a>
                                </td>

                                <td>
                                    {{ order.customer.phone }}
                                </td>

                                <td>৳{{ order.total_cost }}</td>

                                <td>
                                    <span class="lable-table bg-success-subtle text-success rounded border border-success-subtle font-text2 fw-bold">
                                        {{ order.status }}
                                    </span>
                                </td>

                                <td>{{ order.delivery_type|upper }}</td>

                                <td>
                                    {% if order.delivery_date %}
                                    {{ order.delivery_date|date:"M d, Y" }}
                                    {% else %}
                                    Not Set
                                    {% endif %}
                                </td>

                                <td>
                                    {{ order.created_at }}
                                </td>

                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-filter edit-order-btn"
                                                data-id="{{ order.id }}"
                                                data-bs-toggle="modal"
                                                data-bs-target="#OrderFormModal">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        <button class="btn btn-sm btn-filter delete-order-btn"
                                                data-id="{{ order.id }}"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteOrderModal">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                        {% include "db_order/modal/delete_order_modal.html" %}
                                        <button type="button" class="btn btn-sm btn-filter delete-order-btn">
                                            <i class="material-icons-outlined" onclick="printInvoice({{ order.id }})">print</i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <script>
                        function printInvoice(orderId) {
                            const url = `/orders/${orderId}/invoice/`;
                            const printWindow = window.open(url, '_blank', 'width=900,height=1200');

                            printWindow.onload = function () {
                                printWindow.focus();
                                printWindow.print();
                            };
                            window.onafterprint = function () {
                                window.close();
                            };
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>

</div>