{% load static %}
<aside class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div class="logo-icon">
      <a href="{% url 'dashboard' %}">
        <img
          src="{% static 'dashboard_assets/images/logo-icon.png' %}"
          class="logo-img"
          alt=""
        />
      </a>
    </div>
    <div class="logo-name flex-grow-1">
      <a href="{% url 'dashboard' %}">
        <h5 class="mb-0">{{ brand_short_name }}</h5>        <!-- <h5 class="mb-0">PencilwoodBD</h5> -->
      </a>
    </div>
    <div class="sidebar-close">
      <span class="material-icons-outlined">close</span>
    </div>
  </div>
  <div class="sidebar-nav">
    <!--navigation-->
    <ul class="metismenu" id="sidenav">
      <li>
        <a href="{% url 'dashboard' %}">
          <div class="parent-icon">
            <i class="material-icons-outlined">home</i>
          </div>
          <div class="menu-title">Dashboard</div>
        </a>
      </li>

      <li class="menu-label">Catalog</li>

      <!-- Product Section------- -->
      <li>
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <i class="material-icons-outlined">shopping_bag</i>
          </div>
          <div class="menu-title">Product</div>
        </a>
        <ul>
          <li>
            <a href="{% url 'product_list' %}">
              <i class="material-icons-outlined">arrow_right</i>Products
            </a>
          </li>
          <!-- <li>
                        <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#ProductAddUpdateModal">
                            <i class="material-icons-outlined">arrow_right</i>Add Product
                        </a>
                    </li> -->

          <li>
            <a href="{% url 'product_add' %}">
              <i class="material-icons-outlined">arrow_right</i>Add Product
            </a>
          </li>

          <!-- <li>
                        <a href="{% url 'product_add' %}">
                            <i class="material-icons-outlined">arrow_right</i>Media Center
                        </a>
                    </li> -->
        </ul>
      </li>

      <!-- Category Section------- -->
      <li>
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <i class="material-icons-outlined">shopping_bag</i>
          </div>
          <div class="menu-title">Category</div>
        </a>
        <ul>
          <li>
            <a href="{% url 'category_list' %}"
              ><i class="material-icons-outlined">arrow_right</i>Category</a
            >
          </li>
          <!-- <li>
                        <a href="#"><i class="material-icons-outlined">arrow_right</i>Add Category</a>
                    </li> -->
        </ul>
      </li>

      <!-- Slider Section------- -->
      <li>
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <i class="material-icons-outlined">view_carousel</i>
          </div>
          <div class="menu-title">Slider</div>
        </a>
        <ul>
          <li>
            <a href="{% url 'slider_list' %}">
              <i class="material-icons-outlined">arrow_right</i>Slider
            </a>
          </li>
        </ul>
      </li>

      <!-- Variant Section------- -->
      <li>
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <i class="material-icons-outlined">tune</i>
          </div>
          <div class="menu-title">Variants</div>
        </a>
        <ul>
          <li>
            <a href="{% url 'attribute_list' %}">
              <i class="material-icons-outlined">arrow_right</i>Attribute List
            </a>
          </li>
        </ul>
      </li>

      <!-- FAQ Section------- -->
      <li>
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <i class="material-icons-outlined">quiz</i>
          </div>
          <div class="menu-title">FAQ</div>
        </a>
        <ul>
          <li>
            <a href="{% url 'faq_list' %}?scope=global">
              <i class="material-icons-outlined">arrow_right</i>Global FAQs
            </a>
          </li>
          <li>
            <a href="{% url 'faq_list' %}?scope=product">
              <i class="material-icons-outlined">arrow_right</i>Per-Product FAQs
            </a>
          </li>
        </ul>
      </li>

      <!-- Review Section------- -->
      <li>
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <i class="material-icons-outlined">star_rate</i>
          </div>
          <div class="menu-title">Reviews</div>
        </a>
        <ul>
          <li>
            <a href="{% url 'review_list' %}">
              <i class="material-icons-outlined">arrow_right</i>Review List
            </a>
          </li>
          <li>
            <a href="{% url 'review_settings' %}">
              <i class="material-icons-outlined">arrow_right</i>Global Settings
            </a>
          </li>
        </ul>
      </li>

      <!-- Order Section------- -->
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <i class="material-icons-outlined">card_giftcard</i>
          </div>
          <div class="menu-title">Order</div>
        </a>

        <ul>
          <!-- Order Request List -->
          <li>
            <a href="{% url 'order_request_list' %}">
              <i class="material-icons-outlined">arrow_right</i>
              Order Request List
            </a>
          </li>

          <!-- Add Order Request -->
          <li>
            <a href="{% url 'add_order_request' %}">
              <i class="material-icons-outlined">arrow_right</i>
              Add Order Request
            </a>
          </li>

          <li>
            <hr class="dropdown-divider" />
          </li>

          <!-- Order List -->
          <li>
            <a href="{% url 'order_list' %}">
              <i class="material-icons-outlined">arrow_right</i>
              Order List
            </a>
          </li>

          <!-- Add Order -->
          <li>
            <a href="{% url 'add_order' %}">
              <i class="material-icons-outlined">arrow_right</i>
              Add Order
            </a>
          </li>

          <!-- Blocked IPs/Devices -->
          <li>
            <a href="{% url 'blocked_identity_list' %}">
                <i class="material-icons-outlined">arrow_right</i>
                Blocked IPs / Devices
            </a>
          </li>

          <!-- <li>
            <a href="#">
                <i class="material-icons-outlined">arrow_right</i>
                Return Order
            </a>
        </li>

        <li>
            <a href="#">
                <i class="material-icons-outlined">arrow_right</i>
                Reviews
            </a>
        </li> -->
        </ul>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="{% url 'landing_page_list' %}">
          <div class="parent-icon">
            <i class="material-icons-outlined">window</i>
          </div>
          <div class="menu-title">Landing Pages</div>
        </a>
      </li>

      <!-- Work & Reminders Section------- -->
      <li class="menu-label">Work & Reminders</li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <i class="material-icons-outlined">checklist</i>
          </div>
          <div class="menu-title">Todo</div>
        </a>
        <ul>
          <li>
            <a href="{% url 'todo_list' %}">
              <i class="material-icons-outlined">arrow_right</i>
              Todo List
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <i class="material-icons-outlined">alarm</i>
          </div>
          <div class="menu-title">Reminders</div>
        </a>
        <ul>
          <li>
            <a href="{% url 'reminder_list' %}">
              <i class="material-icons-outlined">arrow_right</i>
              Reminder List
            </a>
          </li>
        </ul>
      </li>

      <!-- Finance Section------- -->
      <li class="menu-label">Finance</li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <i class="material-icons-outlined">payments</i>
          </div>
          <div class="menu-title">Finance</div>
        </a>
        <ul>
          <li>
            <a href="{% url 'maintenance_cost_list' %}">
              <i class="material-icons-outlined">arrow_right</i>
              Maintenance Cost
            </a>
          </li>
          <li>
            <a href="{% url 'daily_profit_list' %}">
              <i class="material-icons-outlined">arrow_right</i>
              Daily Profit
            </a>
          </li>
        </ul>
      </li>

      <!-- Settings Section------- -->
      <li class="menu-label">Settings</li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <i class="material-icons-outlined">settings</i>
          </div>
          <div class="menu-title">Settings</div>
        </a>
        <ul>
          <!-- <li>
            <a href="{% url 'delivery_charge_settings' %}">
                <i class="material-icons-outlined">arrow_right</i>
                Global Delivery Charge
            </a>
        </li> -->
          <li>
            <a href="{% url 'coupon_settings' %}">
              <i class="material-icons-outlined">arrow_right</i>
              Coupon Settings
            </a>
          </li>
          <li>
            <a href="{% url 'pixel_settings' %}">
              <i class="material-icons-outlined">arrow_right</i>
              Marketing / Pixel Settings
            </a>
          </li>
          <li>
            <a href="{% url 'utm_link_generator' %}">
              <i class="material-icons-outlined">arrow_right</i>
              UTM Link Generator
            </a>
          </li>
          <li>
            <a href="{% url 'traffic_source_report' %}">
              <i class="material-icons-outlined">arrow_right</i>
              Traffic Source Report
            </a>
          </li>
          <li>
            <a href="{% url 'nav_menu' %}">
              <i class="material-icons-outlined">arrow_right</i>
              Navbar Menu Links
            </a>
          </li>
          <li>
            <a href="{% url 'footer_links' %}">
              <i class="material-icons-outlined">arrow_right</i>
              Footer Links
            </a>
          </li>
          <li>
            <a href="{% url 'social_links' %}">
              <i class="material-icons-outlined">arrow_right</i>
              Social Links
            </a>
          </li>
          <li>
            <a href="{% url 'news_feed' %}">
              <i class="material-icons-outlined">arrow_right</i>
              News Feed (Top Bar)
            </a>
          </li>
          <li>
            <a href="{% url 'invoice_color_settings' %}">
              <i class="material-icons-outlined">arrow_right</i>
              Invoice Color Settings
            </a>
          </li>
          <li>
            <a href="{% url 'telegram_bot_settings' %}">
              <i class="material-icons-outlined">arrow_right</i>
              Telegram Bot Settings
            </a>
          </li>
        </ul>
      </li>

      <!-- Users Section------- -->
      <li class="menu-label">User</li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <i class="material-icons-outlined">group</i>
          </div>
          <div class="menu-title">Users</div>
        </a>
        <ul>
          <li>
            <a href="{% url 'user_management' %}?tab=customers">
              <i class="material-icons-outlined">arrow_right</i>Customers
            </a>
          </li>
          <li>
            <a href="{% url 'user_management' %}?tab=staff">
              <i class="material-icons-outlined">arrow_right</i>Admin &amp;
              Staff
            </a>
          </li>
        </ul>
      </li>

      <!-- <li class="menu-label">Store & Marketing</li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="material-icons-outlined">view_agenda</i>
                    </div>
                    <div class="menu-title">Marketing Center</div>
                </a>
                <ul>
                    <li><a><i class="material-icons-outlined">arrow_right</i>Campaign</a>
                    </li>
                    <li><a><i class="material-icons-outlined">arrow_right</i>Promotions</a>
                    </li>
                    <li><a><i class="material-icons-outlined">arrow_right</i>Coupon</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="material-icons-outlined">api</i>
                    </div>
                    <div class="menu-title">API Setup</div>
                </a>
                <ul>
                    <li><a href="table-basic-table.html"><i class="material-icons-outlined">arrow_right</i>Facebook</a>
                    </li>
                    <li><a href="table-datatable.html"><i class="material-icons-outlined">arrow_right</i>Google</a>
                    </li>
                    <li><a href="table.html"><i class="material-icons-outlined">arrow_right</i>Logistic</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="material-icons-outlined">view_agenda</i>
                    </div>
                    <div class="menu-title">Store</div>
                </a>
                <ul>
                    <li><a><i class="material-icons-outlined">arrow_right</i>Store Decoration</a>
                    </li>
                    <li><a><i class="material-icons-outlined">arrow_right</i>Store Settings</a>
                    </li>
                </ul>
            </li>


            <li class="menu-label">Sales</li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="material-icons-outlined">view_agenda</i>
                    </div>
                    <div class="menu-title">Sales & Analysis</div>
                </a>
                <ul>
                    <li><a><i class="material-icons-outlined">arrow_right</i>Sales</a>
                    </li>
                    <li><a><i class="material-icons-outlined">arrow_right</i>Expense</a>
                    </li>
                </ul>
            </li>

            <li class="menu-label">User</li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="material-icons-outlined">view_agenda</i>
                    </div>
                    <div class="menu-title">Customer</div>
                </a>
                <ul>
                    <li><a><i class="material-icons-outlined">arrow_right</i>Customers</a>
                    </li>
                    <li><a><i class="material-icons-outlined">arrow_right</i>Add Customer</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="material-icons-outlined">view_agenda</i>
                    </div>
                    <div class="menu-title">Management</div>
                </a>
                <ul>
                    <li><a class="has-arrow" href="javascript:;"><i
                                class="material-icons-outlined">arrow_right</i>Staff</a>
                        <ul>
                            <li>
                                <a href="javascript:;"><i class="material-icons-outlined">arrow_right</i>Staffs</a>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="material-icons-outlined">arrow_right</i>Create
                                    Staff</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="javascript:;"><i
                                class="material-icons-outlined">arrow_right</i>Admin</a>
                        <ul>
                            <li>
                                <a href="javascript:;"><i class="material-icons-outlined">arrow_right</i>Staffs</a>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="material-icons-outlined">arrow_right</i>Create
                                    Staff</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="javascript:;"><i
                                class="material-icons-outlined">arrow_right</i>Administrator</a>
                        <ul>
                            <li>
                                <a href="javascript:;"><i class="material-icons-outlined">arrow_right</i>Staffs</a>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="material-icons-outlined">arrow_right</i>Create
                                    Staff</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li class="menu-label">Others</li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="material-icons-outlined">face_5</i>
                    </div>
                    <div class="menu-title">Menu Levels</div>
                </a>
                <ul>
                    <li><a class="has-arrow" href="javascript:;"><i class="material-icons-outlined">arrow_right</i>Level
                            One</a>
                        <ul>
                            <li><a class="has-arrow" href="javascript:;"><i
                                        class="material-icons-outlined">arrow_right</i>Level
                                    Two</a>
                                <ul>
                                    <li><a href="javascript:;"><i class="material-icons-outlined">arrow_right</i>Level
                                            Three</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li> -->
    </ul>
    <!--end navigation-->
  </div>
</aside>
