<div class="modal fade" id="SoldCountModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 900px;">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 py-2 bg-grd-primary">
                <h5 class="modal-title">Sold Count Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="soldCountModalBody">
                <div class="text-center py-4 text-secondary">Loading...</div>
            </div>
        </div>
    </div>
</div>